<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
          
        </div>
        <hr>
        <p class="copyright">{{ site.Params.copyright | markdownify }} | Last updated on 7 January 2026 {{ site.Params.lastupdated | markdownify }}</p>
      </div>
    </div>
  </div>
</footer>