{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          

          <figure>
            {{ if .Params.photo -}}
            <img style="border-radius: 50%;" class="img-fluid" src="{{ .Params.photo }}"><br>
<br><br><ul class="list-inline">

            
            <figcaption>
                        <h4><i>{{ .Params.email }}</i></h4>
              <h2>
              and I quote: <i>"{{ .Params.quote }}"</i>
              </h2>
            </figcaption> <br>


  {{ range .Params.social }}
  <li class="list-inline-item">
    <a class="share-icon" href="{{ .link | safeURL }}">
      <i class="{{ .icon }}" style="color:red; font-size:22px"></i>
    </a>
  </li>

  
  {{ end }}
</ul>
            {{- end }} 
            <figcaption>
              <h5 class="font-weight-bold">
                {{ .Params.name }}
              </h5>
            </figcaption>
          </figure>
           <a href="/eservices/ICCENS" class="btn btn-main">Interested? Request a copy of my resume via ICCENS.</a>
          <hr>
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}